body {
  background:#111;
  color:white;
  font-family:sans-serif;
  text-align:center;
  margin:0;
}

#game-container{
  padding:20px;
}

h1{
  font-size:2em;
}

#grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:15px;
  max-width:400px;
  margin:20px auto;
}

.cell{
  background:#333;
  height:120px;
  border-radius:20px;
  border:3px solid #555;
  font-size:3em;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  user-select:none;
}

.cell.found{
  background:#00ffcc;
  color:black;
}

#restart{
  font-size:1.5em;
  padding:15px 30px;
  border:none;
  border-radius:15px;
  background:#ff66cc;
}
